{% extends "base_layout.html" %} {% block title %}UserInvite{% endblock %} 
{% block content %}
{% if result is defined %}
<div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <div class="msgs"> {{ result['msgs'] }} </div>
</div>
{% endif %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">用户邀请</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                请输入正确邮箱地址(使用此功能前请config.yaml配置Email相关，详见README)
            </div>
            <div class="panel-body">
                <div class="col-lg-12">
                    <div class="col-lg-3">
                        <input id="useremail" name="useremail" class="form-control" placeholder="email">
                    </div>
                    <div class="col-lg-6">
                        <input type="submit" id="userinvite" name="userinvite" class="btn btn-default" value="Invite">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

